<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>로또 추첨기</title>
    <!-- 메타데이터 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link th:href ="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/bootstrap/css/lotto-index.css}" type="text/css">
    <!-- 자바스크립트 -->
    <script type="text/javascript" th:src="@{/bootstrap/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/lottoScript.js}"></script>
</head>

<body>
    <div id="all-wrap">
        <!--header 공통 빼기-->
        <div id="header">
            <div class="clearfix">
                <h1 id="logo" class="inline-b">
                    <a href="/lottery/index">LoTTery.</a>
                </h1>

                <ul class="float-r">
                    <li class="header-link">
                        <a class="color" href="/user/loginForm">로그인</a>
                    </li>
                    <li class="header-link">
                        <a class="color" href="/user/joinForm">회원가입</a>
                    </li>
                </ul>
            </div>

            <div id="header-content-wrap">
                <div id="last-week-num">
                    <div class="txt-bold-25-white">지난 주 당첨 번호</div>
                    <!--for문으로 돌리기-->
                    <div id="last-week-ball">
                        <div th:value="lastCycleNum"></div>
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>6</div>
                        <span class="txt-bold-25-white">+</span>
                        <div>7</div>
                    </div>
                    <!--for문으로 돌리기-->
                </div>
            </div>

        </div>
        <!--header 공통 빼기-->

        <div id="contents" class="clearfix">
            <div id="content-top">

                <form action="/machine/lottoNum" method="get" id="radio-box" class="txt-bold-25-black">
                    <label th:for="selectType" class="st-block">로또번호 생성기 타입을 선택해 주세요 !</label>
                    <select th:id="selectType" name="type" class="form-select" aria-label=".form-select-lg example"
                            onchange="showInputBox()">
                        <option selected>타입 선택</option>
                        <option value="allAuto">전체자동</option>
                        <option value="selectNum">반자동</option>
                        <option value="allSelect">전체수동</option>
                    </select>

                    <div id="showInputBox">
                        <!--만약 번호를 선택하는 타입을 누를 경우 input박스가 나오도록 js-->
                    </div>

                    <div id="buying">
                        <p class="txt-bold-25-black">구입하실 금액을 입력해주세요(천원 ~ 백만원까지 가능)</p>
                        <input type="number" name="price" value="" placeholder="금액입력 후 Enter !">
                    </div>

                    <!--                    //TODO: 로그인한 유저 번호, 회차 번호 숨겨서 보내기-->
                    <button type="submit" class="btn btn-warning btn-lg">GO!</button>

                </form>

            </div>

        </div>

        <!--footer-->
        <div th:replace="fragments/footer :: footer" />

    </div>

</body>
</html>