<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>로또 추첨기</title>
    <!-- 메타데이터 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link th:href ="@{bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{bootstrap/css/lotto-index.css}">

    <!-- 자바스크립트 -->
    <script type="text/javascript" th:src="@{/bootstrap/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.js}"></script>
</head>

<body>
    <div id="all-wrap">

        <div id="header">

            <div id="header-content-wrap">
                <h1 id="logo">
                    <a href="">LoTTery.</a>
                </h1>

                <div id="last-week-num">
                    <div class="txt-bold-25-white">지난 주 당첨 번호</div>
                    <div id="last-week-ball">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                        <div>5</div>
                        <div>6</div>
                        <span class="txt-bold-25-white">+</span>
                        <div>7</div>
                    </div>
                </div>
            </div>

        </div>

        <div id="contents" class="test clearfix">
            <div id="content-top">
                <div id="content-top-left" class="in-block test">
                    <form id="radio-box" class="txt-bold-25-black">
                        <span>
                            <input type="radio" id="" name="set" value="">
                            <label>전체자동</label>
                        </span>
                        <span>
                            <input type="radio" id="" name="set" value="">
                            <label>일부수동</label> 
                        </span>
                        <span>
                            <input type="radio" id="" name="set" value=""> 
                            <label>전체수동</label>
                        </span>
                        <!-- 전체 수동인 경우 생성 -->
                        <!-- <input type="number" name="" value="" placeholder="수동 입력 번호"> -->
                    </form>

                    <div id="price-num">
                        <p class="txt-bold-25-black">구입하실 금액을 입력해주세요</p>
                        <input type="number" name="" value="" placeholder="금액입력 후 Enter !">
                    </div>

                    <button type="button" class="btn btn-warning btn-lg">GO!</button>
                </div>

                <div id="content-top-right" class="in-block test">
                    <p>번호 생성</p>
                    <div>

                    </div>
                </div>
            </div>

        </div>

        <div id="footer" >
            <p>
                copyright (c)2022. 장서윤. All right reserved
            </p> 
        </div>

    </div>

</body>
</html>